body{
    background: #e8e8e8;
}


/********************* NAVIGATION MENU ********************/
.custom_header {
    background-color: #000000;
    border-color: #E63A46;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-image:none;
}
.custom_header .navbar-brand {
    color: #FFFFFF;
}
.custom_header .navbar-nav > li > a {
    color: #FFF;
    cursor:pointer;
}
.custom_header .navbar-nav > li > a:hover {
    color: #777;
}
.custom_header .navbar-nav > .active > a, .custom_header .navbar-nav > .active > a:hover {
    background-color: #e91b23;
    color: #FFFFFF;
    background-image:none;
}

#header .trell-logo{
    margin-top: -10px;
}

/********************* NAVIGATION MENU ********************/

.content-board{
    margin-top: 84px;
    padding: 40px 0;
}
.content-board .well{
    background: #fbfbfb;
    position: relative;
    padding:12px;
}
.content-board .widget.well {
    margin: 0 0 30px;
    border-radius:0;
}
.content-board .widget.well>div {
    border: 0 !important;
}
.content-board .widget.well .nav>li>a {
    position: relative;
    display: block;
    padding: 4px;
}

.widget .widget-body {
    min-height: 100px;
    position: relative;
    padding-bottom: 13px
}

hr.simple {
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: dashed;
}
.content-board .modal-dialog{
    width: 100%;
}

.cardbox {
    width: 100%;
    position:relative;
    margin-top: 20px;
}
.card-content, .card-content .white{
    position: relative;
    background-color: #fff;
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
    outline: 0;
    height: 75px;
}
.card-header {
    padding: 12px;
    min-height: 16.42857143px;
}
.card-header .close {
    position: absolute;
    right: 15px;
    top: 8px;
    height: 17px;
    display: none;
}

.card-header:hover .close{
    display: block;
}
.card-title{
    position: relative;
    cursor: pointer;
}

.board-title{
    font-size: 14px;
    font-weight: bold;
}

.widget-body .nav-tabs{
    margin-bottom: 20px;
}
.card-content.green{
    background: #4BA24B;
}

.card-content.red{
    background: #e91b23;
}
.card-content.blue{
    background: #026AA7;
}

.tab-content:hover{
    cursor: pointer;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: inherit;
}
.style-switcher-slidebar {
    width: 310px;
    height: 420px;
    position: fixed;
    left: -260px;
    top: 130px;
    z-index: 10999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 1s ease;
}

.style-switcher-slidebar.opened {
    left: 0
}

.style-switcher-slidebar .switch-panel {
    float: left;
    width: 255px;
    height: 370px;
    background: #fff;
    color: #333333;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
}

a.open-panel {
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: #fff !important;
    background-color: #e91b23;
    display: block;
    height: 50px;
    width: 50px;
    float: right;
    margin: 0;
    z-index: 1000;
    position: relative;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none
}

a.open-panel:hover {
    color: #fff
}

.style-switcher-slidebar label {
    margin-bottom: 0
}

.style-switcher-slidebar h3 {
    height: 50px;
    line-height: 50px;
    margin: 0 0 10px 0;
    padding: 0 10px;
    background: #e91b23;
    font-size: 14px;
    font-weight: bold;
    color: #fff
}

.style-switcher-slidebar .panel-section {
    padding: 0 15px
overflow-y:scroll;
}

.categories {
    list-style: none;
    margin-top: 10px;
    padding: 0 !important;
    border: 1px solid #e0eded;
    overflow: hidden;
}
ul.categories li {
    display: block;
    padding: 4px 7px;
    color: #616161;
    cursor: pointer;
    border-bottom: 1px solid #e0eded;
}

.dropdown-menu>li>a:hover{
    cursor: pointer;
}
i.fa.fa-dot-circle-o{
    color: #fff;
}

.navbar-default .navbar-text{
    color:#FFF !important;
}
footer .btn-one {
    background-color: none;
    border: 2px solid #FFF;
    color: #FFF;
}
footer .btn-lg {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}



[drop-container] {
    position: relative;
}

[drop-target] {
    position: absolute;
    display: none;
}
[drop-target].drop-target-active {
    display: block;
    pointer-events: none;
}

.drop-target-center {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.drop-target-top {
    top: 0;
    right: 0;
    height: 50%;
    left: 0;
}

.drop-target-top-right {
    top: 0;
    right: 0;
    height: 50%;
    width: 50%;
}

.drop-target-right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
}

.drop-target-bottom-right {
    height: 50%;
    right: 0;
    bottom: 0;
    width: 50%;
}

.drop-target-bottom {
    height: 50%;
    right: 0;
    bottom: 0;
    left: 0;
}

.drop-target-bottom-left {
    height: 50%;
    width: 50%;
    bottom: 0;
    left: 0;
}

.drop-target-left {
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
}

.drop-target-top-left {
    top: 0;
    width: 50%;
    height: 50%;
    left: 0;
}

.emptystatus {
    min-height: 2vh;
}

.btn-primary {
    color: #fff;
    background-image: none;
    margin: 0 auto;
    width: 150px;

}